html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; }
html, body {height: 100%;}
img { border: none; }
ul { list-style: none; }
a { text-decoration: none; }

body {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 14px;
    background-color: #1d1f21;
    color: #E4E7E7;
}

/* We could make this webpage responsive o.O */

.container {
    width: 940px;
    height: 100%;
    margin: 0 auto;
    background-color: #26282B;
    overflow: hidden;
    position: relative;
}

.console {
    height: 100%;
    width: 960px;
    overflow-y: scroll;
    margin-bottom: -100px;
}

.console div.content {
    padding: 40px 50px;
    margin-bottom: 100px;
}

.console div.content > p, .console div.content > pre {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    margin-bottom: 12px;
    font-size: 14px;
    white-space: pre-wrap;
}

.orange {
    color: #D87D50;
}

.blue {
    color: #889AB4;
}

.light-yellow {
    color: #F9EE98;
}

.green {
    color: #8F9D6A;
}

.rust {
    color: #9B5C2E;
}

.red {
    color: #FF6400;
}

.purple {
    color: #9B859D;
}

.prompt {
    height: 60px;
    padding-bottom: 40px;
    width: 100%;
    background-color: #26282B;
    position: absolute;
    z-index: 1;
}

.prompt label {
    margin: 0 15px;
    font-size: 24px;
    padding: 10px;
    float: left;
}

.prompt a, .prompt span {
    color: #E4E7E7;
    margin: 0 15px;
    font-size: 24px;
    padding: 10px;
    float: left;
}

.prompt input {
    width: 790px;
    border: none;
    font-size: 24px;
    float: left;
    border: none;
    padding: 10px;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.prompt input:focus {
    border: none;
    outline: none;
}
